* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  position: absolute;
  z-index: 100;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  min-height: 4.3em;
}
