* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif !important;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  position: absolute !important;
  z-index: 100;

  left: 0;
  top: 0;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  min-height: 4.3em;
}

.login-text {
  font-size: 3em;
  padding-right: 2em;
}
